/* Grid Stylesheet*/

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.col-2of12 {
	width: 16.66%;
}

.col-10of12 {
	width: 83.33%;
}

.col-2of10 {
	width: 20%;
	margin-left: 10%;
}

.col-3of10 {
	width: 30%;
	margin-left: 10%;
}

.col-3of10 {
	width: 30%;
	margin-left: 10%;
}

.col-4of10 {
	width: 40%;
	margin-left: 10%;
}

.col-6of10 {
	width: 60%;
	float: right;
}

.col-8of10 {
	width: 80%;
	margin-left: 10%;
}

.col-10of10 {
	width: 100%;
}

.col-5of20 {
	width: 25%;
}

.col-15of20 {
	width: 75%;
}

@media (max-width: 50em) {
	.col-2of10 {
		width: 100%;
	}
}


.grid {
	content: "";
	display: block;
	clear: both;
}
