/* Grid Stylesheet*/

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.col-2of12 {
	width: 16.66%;
}

.col-6of12 {
	width: 50%;
	float: right;
}


.col-10of12 {
	width: 83.33%;
}

@media (max-width: 50em) {
	.col-2of10 {
		width: 100%;
	}
}

.grid {
	content: "";
	display: block;
	clear: both;
}

