/* Font Import */
/* Gravity */
@font-face{
  font-family: "Gravity";
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Bold.eot');
  src: url('fonts/Gravity/Gravity-Bold.eot?#iefix') format ('embedded-opentype'),
  url('fonts/Gravity-Bold.ttf') format ('truetype');
}
@font-face{
  font-family: "Gravity";
  font-weight: light;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Light.eot');
  src: url('fonts/Gravity/Gravity-Light.eot?#iefix') format ('embedded-opentype'),
  url('fonts/Gravity-Light.ttf') format ('truetype');
}
@font-face{
  font-family: "Gravity";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Book.eot');
  src: url('fonts/Gravity/Gravity-Book.eot?#iefix') format ('embedded-opentype'),
  url('fonts/Gravity-Book.ttf') format ('truetype');
}


/* Gravity-Book */
@font-face {
  font-family: "Gravity-Book";
  font-weight: normal;
  font-style: normal;
  src:url("fonts/Gravity-Book/Gravity-Book.eot?") format("eot"),
  url("fonts/Gravity-Book/Gravity-Book.woff") format("woff"),
  url("fonts/Gravity-Book/Gravity-Book.ttf") format("truetype"),
  url("fonts/Gravity-Book/Gravity-Book.svg#Gravity-Book") format("svg");
}






/* Main Css */
body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 0 0 0;
  background-color:#D6D4D4;
  height: 100%;
 }


/* Textual */
h1 {
  font-family: "Alegreya", serif; 
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.4rem;
  color: #5ABE8C;
  text-align: left;
  border-bottom: 2px solid #5ABE8C;
}

h3 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
  margin: 0.4em auto;
}

h4 {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 1rem;
  text-align: left;
  margin: 0.4em auto;
  display: block;
}

p {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
}

.col-3of10#product p{
  font-family: "Gravity-Book", sans-serif; 
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.4em;
  padding-right: 10%;
}


/* Container */
.col-8of10#slider {
  margin-bottom: 2rem; 
}

.col-10of10#content {
  background-color: white;
}

.col-8of10#contentHeader {
  margin-bottom: 2rem;
}

.col-2of10#itemCategory {
  margin-bottom: 2rem;
}

.col-3of10#product {
  position: relative;
  margin-bottom: 4rem;
}




/* Button */
a.button#addCart {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  font-style: italic;
  font-size: 0.8rem;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  padding: 0.3em 0.75em;
  border-radius: 0.25em;
  background-color: #5ABE8C;
  position: absolute;
  right: -2.2em;
  top: 0.5em;
  
  
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button:hover, a.button:focus {
  background-color: #999;
}


a.button#proceed {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  font-size: 1.1rem;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  float: right;
  padding: 0.4em 0.75em;
  border-radius: 0.25em;
  background-color: #5ABE8C;
  margin-right: 3em;
}



/* Form */
form {
  display: inline-block;
  padding: 1em;
  margin-left:50px;
}

label {
  display: inline-block;
  margin-top: 10px;
  margin-right:15px;
}

select {
  display:block;
  margin-top:-30px;
  margin-left:60px;
}



/* Images */
.logo {
  width: 80%;
  margin: 1rem auto;
  z-index: -1;
}

.slider {
  
  width: 100%;
  height:400px;
}

.product#homepage{
  width: 100%;
  height:200px;
}

.ornament {
  width: 5rem;
  height: auto;
  margin: 0;
}

figure.cookie-category {
  width: 100%;
  margin: 0;
  position: relative;
}

figure.cookie-category img {
  width: 100%;
  height: 180px;
}

figure.cookie-category figcaption {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  font-size: 1.1rem;
  text-align: left;
  color: white;
  width: 10em;
  position: absolute;
  bottom: 2em;
  left: 0;
  background-color: #5ABE8C;
  padding-left: 0.7em;
  padding-top: 0.25em;
  padding-top: 0.3em;
}

.product#category{
  width: 35%;
  height: 140px;
  float: left;
  margin-right: 5%;
  margin-bottom: 2rem;
}



/* Navigation */
nav.navigation-side{
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  position: relative;
  height: 60rem;
}

nav.navigation-side:before {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  position: absolute;
  background: none;
  content: "";
  display: block;
  top: 0px;
  left: 4px;
  right: 4px;
  bottom: 0px;
  pointer-events: none;
}

#navigationSide{
  position: relative;
  background-color:white;
}

#navigationSideColor {
  background-color: #9DD8D7;
  position: absolute;
  height: 100%;
  right: 0;

}


nav.navigation-side a{
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.1rem;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 20px;
  display: block;
}

nav.navigation-side a:hover {
  color: white;
  background-color: #000;
}




.topIcon{
  width:4%;
  height:4%

}

#topNavigation {
  font-family: "Gravity-Book", sans-serif; 
  background-color:#9DD8D7;
  border-radius:0.5em;
  padding:5px;
  margin-bottom: 3rem;
}
#topNavigation a, img {
  text-decoration: none;
  text-align:center;
  color:black;
  vertical-align: middle;
  margin-right: 40px;
}




/* Table */
table.order {
  font-family: "Gravity-Book", sans-serif; 
  width: 100%;
  margin-top: 3rem;
}


.table-col-item {
  width: 25%;
}

.table-col-des {
  width: 35%;
}

.table-col-quantity {
  width: 10%;
}

.table-col-size {
  width: 15%;
}

.table-col-price {
  width: 15%;
}

th {
  padding: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

td {
  padding: 1rem;
}

table.order tr img {
  width: 50%;
  height: 120px;
  margin : auto;
}

table.order tr p {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.4em;
}

table.order tr input {
  width: 50%;
}

table.order tr select {
  width: 50%;
  margin : auto;
}

table.order tr span {
  font-size: 1rem;
}






/* Style Guide style */
section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section .guide {
  font-family: sans-serif;
}

section h2.guide {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
}

section h3.guide {
  color:#262261;
  margin-bottom: 0;
}

section p.guide {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.2em 0.6em;
}

