/* Font Import */
/* Gravity */
@font-face{
  font-family: "Gravity";
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Bold.eot');
  src: url('fonts/Gravity/Gravity-Bold.eot?#iefix') format ('embedded-opentype'),
     url('fonts/Gravity-Bold.ttf') format ('truetype');
}
@font-face{
  font-family: "Gravity";
  font-weight: light;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Light.eot');
  src: url('fonts/Gravity/Gravity-Light.eot?#iefix') format ('embedded-opentype'),
     url('fonts/Gravity-Light.ttf') format ('truetype');
}
@font-face{
  font-family: "Gravity";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Book.eot');
  src: url('fonts/Gravity/Gravity-Book.eot?#iefix') format ('embedded-opentype'),
     url('fonts/Gravity-Book.ttf') format ('truetype');
}


/* Gravity-Book */
@font-face {
	font-family: "Gravity-Book";
	font-weight: normal;
	font-style: normal;
	src:url("fonts/Gravity-Book/Gravity-Book.eot?") format("eot"),
		url("fonts/Gravity-Book/Gravity-Book.woff") format("woff"),
		url("fonts/Gravity-Book/Gravity-Book.ttf") format("truetype"),
		url("fonts/Gravity-Book/Gravity-Book.svg#Gravity-Book") format("svg");
}

@import url(http://fonts.googleapis.com/css?family=Alegreya:700italic);





/* Main Css */
body {
  background-color:#CAE0DB;
  font-family: sans-serif;
  font-size: 16px;
  padding: 2rem;
}


/* Textual */
h1 {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
}

p {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
}



/* Button */
a.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #5ABE8C;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
 
a.button:hover, a.button:focus {
  background-color: #999;
}



/* Form */
form {
  display: inline-block;
  padding: 1em;
  margin-left:50px;
}

label {
  display: inline-block;
  margin-top:10px;
  margin-right:15px;
}



/* Images */
figure {
  margin-left: 0; /* setting there to be no margin on the left */
}

select {
  display:block;
  margin-top:-30px;
  margin-left:60px;
}



/* Navigation */
 #navigation ul{
	border-style: solid;
	border-width: 1px;
	margin: 0;
	margin-top:20px;
	padding: 0;

	list-style-type: none;
	background-image: url(../img/bar.jpg);
	width:185px;
	height:380px;
}

 #navigation ul li a{
	text-decoration: none;
	text-align:center;
	color: black;
	padding: 20px;
	display:block;
}

 #navigation ul li a:hover {
	color: white;
	background-color: #000;
}



/* Style Guide style */
section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section .guide {
  font-family: sans-serif;
}

section h2.guide {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
}

section h3.guide {
  color:#262261;
  margin-bottom: 0;
}

section p.guide {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.2em 0.6em;
}

