/* Font Import */
/* Gravity */
@font-face{
  font-family: "Gravity";
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Bold.eot');
  src: url('fonts/Gravity/Gravity-Bold.eot?#iefix') format ('embedded-opentype'),
  url('fonts/Gravity-Bold.ttf') format ('truetype');
}
@font-face{
  font-family: "Gravity";
  font-weight: light;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Light.eot');
  src: url('fonts/Gravity/Gravity-Light.eot?#iefix') format ('embedded-opentype'),
  url('fonts/Gravity-Light.ttf') format ('truetype');
}
@font-face{
  font-family: "Gravity";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Gravity/Gravity-Book.eot');
  src: url('fonts/Gravity/Gravity-Book.eot?#iefix') format ('embedded-opentype'),
  url('fonts/Gravity-Book.ttf') format ('truetype');
}


/* Gravity-Book */
@font-face {
  font-family: "Gravity-Book";
  font-weight: normal;
  font-style: normal;
  src:url("fonts/Gravity-Book/Gravity-Book.eot?") format("eot"),
  url("fonts/Gravity-Book/Gravity-Book.woff") format("woff"),
  url("fonts/Gravity-Book/Gravity-Book.ttf") format("truetype"),
  url("fonts/Gravity-Book/Gravity-Book.svg#Gravity-Book") format("svg");
}






/*========================== Main Css ==========================*/
body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 0 0 0;
  background-image: url("../img/bg/bk.jpg");
  height: 100%;
 }





/*========================== Textual ==========================*/
h1 {
  font-family: "Alegreya", serif; 
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.4rem;
  color: #5ABE8C;
  text-align: left;
  border-bottom: 2px solid #5ABE8C;
}

.col-8of10#payment h2 {
  width: 50%;
}

h3 {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.1rem;
  text-align: left;
  padding: 0.3rem 0.4rem;

}

h4 {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 1rem;
  text-align: left;
  margin: 0.4em auto;
  display: block;
}

.col-8of10#contentHeader h4{
  margin-bottom: 3rem;
}

p {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  line-height: 140%;
  text-align: left;
  margin-bottom: 2rem;
}

span.bold {
  font-weight: bold;
}

.link{
  font-family: "Gravity";
  font-weight: bold;
  color:black;
}

.col-3of10#product p{
  font-family: "Gravity-Book", sans-serif; 
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.4em;
  padding-right: 8%;
}

.col-8of10#kit span {
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.05rem;
  padding-top: 0;
  margin-top: 0;
}

ul.kit {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 0.8rem;
  font-style: normal;
  padding-left: 1em;
}

ul.kit li {
  padding: 0.1rem 0;
}

ul#hoursList {
  text-align: left;
}

ul#hoursList li {
  padding: 0.1rem 0;
}

ul, li #hoursList{
  list-style-type:none;
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  line-height: 140%;
 
  padding-left:20px;
}




/*========================== Container ==========================*/
.col-2of12#navigationSide {
  position: fixed;
}

.col-2of12#navigationSideBack {
  opacity: 0; 
  z-index: -10;
}

.col-8of10#homeBanner {
  margin-top: 2vw; 
  margin-bottom: 2.2vw; 
}

.col-10of10#content {
  background-color: rgba(255, 255, 255, 0.8);
}

.col-8of10#contentHeader {
  margin-bottom: 2rem;
}

.col-2of10#guestBook{
   margin-left: 70rem;
}

.col-3of10#product {
  position: relative;
  margin-bottom: 4rem;
}

.col-2of10#itemCategory {
  margin-bottom: 2rem;
}

#payment {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 1rem;
  text-align: left;
  padding-right: 2%;
}

#kit {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 1rem;
  text-align: left;
  position: relative;
}

.col-6of8#kit {
  padding-top: 1.5vw;
  padding-left: 6vw;
}

.col-8of10#navigationCategory {
  text-align: left;
  margin-bottom: 2rem;
}

.col-8of10#payment {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 1rem;
  text-align: left;
}

.col-6of10#review {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 1rem;
  text-align: left; 
  float: left;
  margin-left: 10%
}







/*========================== Button ==========================*/
a.button#addCart {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  font-style: italic;
  font-size: 0.7rem;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  padding: 0.3em 0.75em;
  border-radius: 0.25em;
  background-color: #5ABE8C;
  position: absolute;
  right: -2.2em;
  top: 0.5em;
  
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button#addCart:hover, a.button:focus {
  background-color: #999;
}

a.button#share {
  text-decoration:none; 
  text-align:center; 
  padding:11px 22px; 
  border:solid 1px #9ed9bc; 
  border-radius: 9px; 
  font:14px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:white; 
  background:#5abe8c; 
  
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
 
}
a.shareButton:hover, a.shareButton:focus {
  background-color: #999;
}


a.button#proceed {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  font-size: 1.1rem;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  float: right;
  padding: 0.4em 0.75em;
  border-radius: 0.25em;
  background-color: #5ABE8C;
  margin-right: 3em;

  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button#proceed:hover, a.button#proceed:focus {
  background-color: #999;
}

a.button#cancel {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  font-size: 1.1rem;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  float: right;
  padding: 0.4em 0.75em;
  border-radius: 0.25em;
  background-color: #7dacac;
  margin-right: 1em;

  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button#cancel:hover, a.button#cancel:focus {
  background-color: #999;
}





/*========================== Form ==========================*/
form {
  padding: 1em;
}

form div.input-wrapper {
  margin: 0.7rem auto;
}




form label {
  text-align: right;
  width: 8rem;
  display: inline-block;
  margin-top: 10px;
  margin-right: 2rem;
}

form input {
  width: 10rem;
}

form select {
  margin-left: 0;
  width: 10rem;
  display: inline-block;
}


form div.input-wrapper#cardType {
  margin-top: 2rem;
}

form input[type="radio"] {
  width: 10px;
}

form img.card {
  width: auto;
  height: 1.2rem;
  margin: 0;
  padding: 0;
}

form select.expire {
  width: 4rem;
}

.col-6of10#review label {
  width: 10%;
  vertical-align: top;
}

.col-6of10#review input {
  width: 40%;
}

.col-6of10#review textarea {
  width: 70%;
  height: 5rem;
}






/* ========================== Images ==========================*/
img {
  width: 100%;
  height: auto;
}

figure {
  margin-left: 0;
  margin-top: 10px;
  margin-right: 15px;
  width: 12rem;
}

select {
  display:block;
  margin-top:-30px;
  margin-left:60px;
}

.logo {
  width: 80%;
  margin: 1rem auto;
  z-index: -1;
}

.product#homepage{
  width: 100%;
  height:200px;
}

.ornament {
  width: 5rem;
  height: auto;
  margin: 0;
}


figure.owner {
  width: 100%;
  position: relative;
  text-align: center;
}

figure.owner img {
  width: 80%;
  height: auto;
}

figure.owner figcaption{
  font-family: "Gravity-Book", sans-serif; 
  font-size: 0.8rem;
  font-weight: normal;
  font-style: italic;
  color: grey;
  padding-top: 0.2rem;
}

.calendar{
  width:130%;
}

.events{
  width:100%;
}

figure.home-banner {
  width: 100%;
  position: relative;
}

figure.home-banner img{
  width: 100%;
  height: auto;
}

figure.home-banner figcaption {
  font-family: "Alegreya", sans-serif; 
  font-weight: 700;
  font-style: italic;
  font-size: 3vw;
  text-align: right;
  color: white;
  width: 15em;
  position: absolute;
  bottom: 0.7rem;
  right: 0;
  padding-right: 1em;
}

figure.cookie-category {
  width: 100%;
  position: relative;
}

figure.cookie-category img {
  width: 100%;
  height: auto;
  opacity: 1;
}

figure.cookie-category img:hover {
  opacity: 0.5;
  filter: alpha;
}

figure.cookie-category figcaption {
  font-family: "Gravity-Book", sans-serif; 
  font-weight: normal;
  font-size: 1.1rem;
  text-align: center;
  color: black;
  width: 100%;
  position: absolute;
  bottom: 20%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em 0 0.4em 0;
}

.product#category{
  width: 35%;
  float: left;
  margin-right: 5%;
  margin-bottom: 3rem;  
}

img.kit {
  width: 100%;
  float: left;
  padding-bottom: 5rem;
}

.priceInfo {
  width: 75%;
  margin-bottom: 4rem; 
}




/* ========================== Navigation ===================== */
nav.navigation-side{
  padding-top: 2vw;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  position: relative;
  height: 100vh;
}

nav.navigation-side:before {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  position: absolute;
  background: none;
  content: "";
  display: block;
  top: 0px;
  left: 1.5%;
  right: 1.5%;
  bottom: 0px;
  pointer-events: none;
}

#navigationSide{
  position: relative;
  background-color:white;
}

#navigationSideColor {
  background-color: #9DD8D7;
  position: absolute;
  height: 100%;
  right: 0;
}

#navigationSideBorder {
  width: 12px;
  background-image: url("../img/SideDeco.png");
  background-size: 12px 24px;
  background-repeat: repeat-y;
  position: absolute;
  height: 100%;
  left: 100%;
}

nav.navigation-side a.navigationButton{
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  color: black;
  padding: 1.2em;
  display: block;

  -webkit-transition: font-size 0.3s; 
  transition: font-size 0.3s;
}

nav.navigation-side a.navigationButton:hover {
  font-size: 1.5rem;
  color: white;
  background-color: #9DD8D7;
}


#topNavigation {
  font-family: "Gravity-Book", sans-serif; 
  font-size: 0.9vw;
  text-align: left;
  background-color:#9DD8D7;
  border-radius: 0.5em;
  padding: 0.8em 1.2em;
  margin-bottom: 3vw;
}

#topNavigation a {
  color: black;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  width: 16%;
  margin: 0.1em 0;
}

#topNavigation img {
  width: 22%;
}

a.navigationButton#viewCart {
  position: relative;
}

.containerBubble {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.bubble {
  font-size: 0.9rem;
  text-align: center;
  position: relative;
  width: 250px;
  height: 3rem;
  padding: 0.8rem;
  background: #FFFFFF;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  border: #5ABE8C solid 2px;

  opacity: 0;
}


.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 9px 8px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  left: 194px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 9px;
  border-color: #5ABE8C transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -11px;
  left: 193px;
}

#navigationCategory h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  vertical-align: baseline;
  border-bottom: 1.6px solid #5ABE8C;
  width: 10%;
  margin-right: 0.5%;

  -webkit-transition: all 0.3s; 
  transition: all 0.3s;
}

#navigationCategory h2.active {
  font-weight: 700;
  font-size: 1.4rem;
}

#navigationCategory h2:hover {
  font-weight: 700;
  font-size: 1.4rem;
}




/*========================= Table ================================*/
table.order {
  font-family: "Gravity-Book", sans-serif; 
  width: 100%;
  margin-top: 1rem;
}


table.order .table-col-item {
  width: 20%;
}

table.order .table-col-des {
  width: 40%;
}

table.order .table-col-quantity {
  width: 10%;
}

table.order .table-col-size {
  width: 15%;
}

table.order .table-col-price {
  width: 15%;
}

table.order th {
  padding: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

table.order td {
  padding: 1rem;
}

table.order tr img {
  width: 50%;
  height: auto;
  margin : auto;
}

table.order tr p {
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.4em;
}

table.order tr input {
  width: 50%;
}

table.order tr select {
  width: 80%;
  margin : auto;
}

table.order tr span {
  font-size: 1rem;
}



table.payment {
  font-family: "Gravity-Book", sans-serif; 
  width: 100%;
  margin-top: 1rem;
}

table.payment .table-col-item {
  width: 40%;
}
table.payment .table-col-quantity {
  width: 30%;
  text-align: center;
}

table.payment .table-col-price {
  width: 30%;
  text-align: right;
}

table.payment th {
  padding-bottom: 1rem;
}

table.payment td {
}

table.payment td.quantity {
  font-size: 0.8rem;
  text-align: center;
}

table.payment td.price {
  font-size: 0.8rem;
  text-align: right;
}

table.payment tfoot td {
  font-size: 0.9rem;
  text-align: right;
  padding-top: 1rem;
}





/*========================= Style Guide style =======================*/
section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section .guide {
  font-family: sans-serif;
}

section h2.guide {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
}

section h3.guide {
  color:#262261;
  margin-bottom: 0;
}

section p.guide {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.2em 0.6em;
}

